
@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
	color: #fff;
	font-weight: 400;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}

.container {
	max-width: 1201px;
	margin: 0 auto;
	padding: 0 15px;
}

.faculty {
	background: #412672;
	width: 100%;


}
.body__faculty {
	padding: 61px 0px 102px 0px;
	margin: 0 -15px 0 -15px;

}
.faculty__tittles{
	line-height: normal;
	font-size: 38px;
	margin-bottom: 31px;
}
.faculty__tittles>:last-child {
	font-weight: 700;
}

.faculty__items {
	width: 100%;
	cursor: pointer;

}
.faculty__item {
	display: inline-block;
	max-width: 387px;
	min-height: 476px;
	padding: 20px;
	background-color: #fff;
	vertical-align: top;
	transition: all .5s;
}
.faculty__item:hover {
	background-color: #FFBE48;

}
.faculty__item{
	margin-right: 15px;
}
.faculty__item:last-child{
	margin-right: 0;
}
.faculty__item > * {
	margin-bottom: 16px;
}
.faculty__item > *:last-child {
	margin-bottom: 0;
}
.faculty__item-img {
	max-width: 347px;
}
.faculty__item-img img{
	width: 100%;
}
.faculty__item-tittle {
	color: #000;
	font-weight: 600;
}
.faculty__item-text {
	color: #4F4F4F;
}
.faculty__item-link {
	color: #FE3F3F;
}



/* ===========available=============== */

.available {
	margin: 55px 0;
	color: #412672;
}
.container {
}
.available__body {
	max-width: 518px;
}
.available__body > * {
	margin-bottom: 20px;
}
.available__body > *:last-child {
	margin-bottom: 0;
}
.available__tittle {
	line-height: normal;
	font-size: 34px;
}
.available__tittle span{
	font-weight: 700;
}
.available__text {
}
.available__items {
	line-height: 255%;
	color: #4F4F4F;
}
.available__item {
	cursor: pointer;
	padding-left: 44px;
}

.available__item::before {
	content: '';
	background: url('../img/Frame.png') center / 29px no-repeat;
	width: 29px;
	height: 29px;
	margin-right: 15px;
	vertical-align: middle;
	margin-left: -44px;
	transition: all .5s;

}

.available__item:hover::before {
	scale: 1.3;
}
/* ======================================= */


/* ========GAME================== */

.game__body {
	background: url('../img/game/bg-game.jpg') 0 0 / 100% no-repeat;
	background-size: 100%;
	background-position: center;
	overflow: hidden;
}
.start {
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.level1__track {
	width: 170px;
	height: 35px;
	margin-left: 24px;
}
.level2__track {
	height: 135px;
	width: 32px;
	margin-left: 184px;
}
.level3__track {
	width: 70px;
	height: 35px;
	margin-left: 184px;
}
.level4__track {
	height: 80px;
	width: 30px;
	margin-left: 254px;
	margin-top: -15px;
}
.level5__track {
	width: 270px;
	height: 39px;
	margin-left: 254px;
}
.level6__track {
	height: 180px;
	width: 36px;
	margin-left: 509px;
}
.level7__track {
	width: 170px;
	height: 33px;
	margin-left: 508px;
}
.level8__track {
	height: 100px;
	width: 30px;
	margin-left: 678px;
	margin-top: -99px;
}
.level9__track {
	width: 170px;
	height: 35px;
	margin-left: 678px;
	margin-top: -114px;
}
.level10__track {
	height: 180px;
	width: 30px;
	margin-left: 838px;
}
.level11__track {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 834px;
}
.game__body div:nth-child(odd){
	background-color: #FFBE48;
}
.game__body div:nth-child(even){
	background-color: #FE3F3F;
}
.finish {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-left: 824px;
	position: relative;
}

.game__body > img:first-of-type:hover + *,
.game__body > div:hover + div[class*="__track"],
.game__body > div[class*="__track"]:hover
{
  visibility: visible;
}

.game__body > *:not(img) {
visibility:hidden;
}
/* ================================ */