/* Підключення фрифтів */

/* Google Fonts (Plugin) */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap"); */

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	color: #808080;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}

.container {
	max-width: 648px;
	margin: 0 auto;
	padding: 0 15px;
	margin-bottom: 40px;
}



.header {
	margin-bottom: 20px;
	padding-top: 40px;
}

.main{
	margin-bottom: 20px;
}
.container-items {
	margin-bottom: 20px;

}
.container-item {
	margin-bottom: 14px;
	min-height: 20px;
	padding-left: 28px;
	background: url('../img/Check.png') 0 0 / 20px no-repeat;
}



/* ================================ HYDRA========================= */


.container-hydra {
	background: #302C42;
	padding: 60px 0;
}
.hydra__body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #fff;
	width: 1272px;
	margin: 0 auto;
	background: url('../img/Vector_7.png') 0 30% / 100% no-repeat,
					 url('../img/Vector_8.png') 0 80% / 100% no-repeat;

}
.hydra__body-img {
	display: inline-block;
	border-radius: 240px 100px;
	overflow: hidden;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	max-width: 524px;
	margin-right: 108px;
}
.hydra__body-abuot {
	display: inline-block;
	width: 40%;
	padding: 50px 0 68px 0;
	position: relative;
   top: -80px;
}
.hydra__about-about {
	font-size: 36px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 5px;
}
.hydra__about-hydra {
	color: rgba(255, 255, 255, 0.95);
	font-size: 36px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin-bottom: 42px;

}
.hydra__about-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 28px;
}
.hydra__about-button {
	border-radius: 40px;
	background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
	color: #343045;
	font-size: 12px;
	font-weight: 700;
	padding: 17px 47px 16px 39px;
}




.hydra__body-contacts {
	font-family: "Montserrat", sans-serif;
	color: #FFF;
	font-size: 14px;
	width: 1272px;
	margin: 0 auto;
	border-radius: 90px;
	background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
	box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}
.hydra__contacts {
	width: 100%;
	padding: 26px 39px;
}
.hydra__contact {
	display: inline-block;
	width: 33%;
	align-items: center;
	height: 116px;

}

.contact-tittle {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}
.contact-location {
	padding-left: 65px;
	/* background-image: url('../img/location.png') 0 0 / 65px no-repeat; */
	background-image: url('../img/location.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 65px;
	height: 65px;
	border-right: 1px solid rgba(192, 183, 232, 0.33);

}
.contact-message {
	padding-left: 135px;
	background: url('../img/mail.png') 50px 0 / 65px no-repeat;
	height: 65px;
}
.contact-call {
	padding-left: 135px;
	background: url('../img/phone-call.png') 47px 0 / 65px no-repeat;
	height: 65px;
	border-right: 1px solid rgba(192, 183, 232, 0.33);
}